Project Team 8
Aaliyah Brown
Ashley Witte
Prateek Verma
Yuri Chen

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yelp-dataset/yelp-dataset")

print("Path to dataset files:", path)

Path to dataset files: /root/.cache/kagglehub/datasets/yelp-dataset/yelp-dataset/versions/4

In [ ]:
review_filepath = "/root/.cache/kagglehub/datasets/yelp-dataset/yelp-dataset/versions/4/yelp_academic_dataset_review.json"
checkin_filepath = "/root/.cache/kagglehub/datasets/yelp-dataset/yelp-dataset/versions/4/yelp_academic_dataset_checkin.json"
business_filepath = "/root/.cache/kagglehub/datasets/yelp-dataset/yelp-dataset/versions/4/yelp_academic_dataset_business.json"
tip_filepath = "/root/.cache/kagglehub/datasets/yelp-dataset/yelp-dataset/versions/4/yelp_academic_dataset_tip.json"
user_filepath = "/root/.cache/kagglehub/datasets/yelp-dataset/yelp-dataset/versions/4/yelp_academic_dataset_user.json"

In [ ]:
review_chunks_iterator = pd.read_json(review_filepath, lines = True, chunksize = 100000)

In [ ]:
# looking at the first 3 chunks to get a general intuition behind the full review data
try:
    chuck_1 = next(review_chunks_iterator)
    chuck_2 = next(review_chunks_iterator)
    chuck_3 = next(review_chunks_iterator)

    chuck_1.info()
    chuck_2.info()
    chuck_3.info()
except StopIteration:
    print("No more chunks to process.")

In [ ]:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    100000 non-null  object
 1   user_id      100000 non-null  object
 2   business_id  100000 non-null  object
 3   stars        100000 non-null  int64
 4   useful       100000 non-null  int64
 5   funny        100000 non-null  int64
 6   cool         100000 non-null  int64
 7   text         100000 non-null  object
 8   date         100000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 6.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 100000 to 199999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    100000 non-null  object
 1   user_id      100000 non-null  object
 2   business_id  100000 non-null  object
 3   stars        100000 non-null  int64
 4   useful       100000 non-null  int64
 5   funny        100000 non-null  int64
 6   cool         100000 non-null  int64
 7   text         100000 non-null  object
 8   date         100000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 6.9+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 200000 to 299999
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    100000 non-null  object
 1   user_id      100000 non-null  object
 2   business_id  100000 non-null  object
 3   stars        100000 non-null  int64
 4   useful       100000 non-null  int64
 5   funny        100000 non-null  int64
 6   cool         100000 non-null  int64
 7   text         100000 non-null  object
 8   date         100000 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 6.9+ MB

In [ ]:
print(f"chuck 1: {chuck_1.isna().sum()}")
print(f"chuck 2: {chuck_2.isna().sum()}")
print(f"chuck 3: {chuck_3.isna().sum()}")

In [ ]:
chuck 1: review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64
chuck 2: review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64
chuck 3: review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [ ]:
chuck_1['cool'].value_counts()

In [ ]:

count
cool
0	79984
1	13394
2	3675
3	1337
4	635
5	351
6	191
7	122
8	80
9	68
10	42
11	30
12	18
13	11
14	11
15	8
17	7
22	5
16	5
18	4
29	2
19	2
32	2
23	2
21	2
27	2
44	1
26	1
49	1
25	1
33	1
31	1
24	1
41	1
42	1
20	1

dtype: int64

In [ ]:
print("Example 'text' values from chunk 1")
print(chuck_1['text'].head())

In [ ]:
Example 'text' values from chunk 1
0    If you decide to eat here, just be aware it is...
1    I've taken a lot of spin classes over the year...
2    Family diner. Had the buffet. Eclectic assortm...
3    Wow!  Yummy, different,  delicious.   Our favo...
4    Cute interior and owner (?) gave us tour of up...
Name: text, dtype: object

In [ ]:
print("Example 'text' values from chunk 2")
print(chuck_2['text'].head())

In [ ]:
Example 'text' values from chunk 2
100000    Why 3 stars?\n\nI love Target, but here is jus...
100001    The Local Taco is the first joint I've found i...
100002    Top notch! He will cater our wedding and  Fran...
100003    Best place to get a vietnamese sandwich and bo...
100004    This is more like a 3 1/2 star rating. The foo...
Name: text, dtype: object

In [ ]:
print("Example 'text' values from chunk 3")
print(chuck_3['text'].head())

In [ ]:
Example 'text' values from chunk 3
200000    Great craft beers, great fresh food.  Small me...
200001    Establishments like The Libertine remind me th...
200002    A sub is a sub is a sub, but not when it's Eeg...
200003    I went for my birthday in oct. I had a large g...
200004    The food here is soooooooo good! I have walked...
Name: text, dtype: object

In [ ]:
print("Example 'date' values from chunks 1-3")
print(chuck_1['date'].head())
print(chuck_2['date'].head())
print(chuck_3['date'].head())

In [ ]:
Example 'date' values from chunks 1-3
0   2018-07-07 22:09:11
1   2012-01-03 15:28:18
2   2014-02-05 20:30:30
3   2015-01-04 00:01:03
4   2017-01-14 20:54:15
Name: date, dtype: datetime64[ns]
100000   2018-05-02 12:31:05
100001   2011-03-29 04:44:08
100002   2014-10-02 11:32:33
100003   2015-04-20 14:30:49
100004   2012-07-21 23:02:43
Name: date, dtype: datetime64[ns]
200000   2015-04-12 00:20:02
200001   2013-05-23 18:27:42
200002   2012-03-15 18:26:47
200003   2017-01-11 23:01:18
200004   2017-06-25 03:32:25
Name: date, dtype: datetime64[ns]

CONNECT + UPLOAD TO AZURE

In [ ]:
!apt list --installed | grep odbc

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

libodbc2/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 amd64 [installed,automatic]
libodbccr2/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 amd64 [installed,automatic]
libodbcinst2/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 amd64 [installed,automatic]
unixodbc-common/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 all [installed,automatic]
unixodbc-dev/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 amd64 [installed,automatic]

In [ ]:

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

libodbc2/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 amd64 [installed,automatic]
libodbccr2/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 amd64 [installed,automatic]
libodbcinst2/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 amd64 [installed,automatic]
unixodbc-common/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 all [installed,automatic]
unixodbc-dev/jammy-updates,jammy-security,now 2.3.9-5ubuntu0.1 amd64 [installed,automatic]

SyntaxError: invalid decimal literal (ipython-input-2493853731.py, line 3)

In [ ]:
!pip install pandas sqlalchemy pyodbc

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Collecting pyodbc
  Downloading pyodbc-5.3.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (2.7 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pyodbc-5.3.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (340 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 340.3/340.3 kB 6.6 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0

In [ ]:
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.44)
Collecting pyodbc
  Downloading pyodbc-5.3.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (2.7 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pyodbc-5.3.0-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (340 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 340.3/340.3 kB 7.0 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0

In [ ]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

In [ ]:
# Install the Microsoft ODBC Driver for SQL Server
!curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
!curl https://packages.microsoft.com/config/ubuntu/$(lsb_release -rs)/prod.list > /etc/apt/sources.list.d/mssql-release.list
!apt-get update
!ACCEPT_EULA=Y apt-get install -y msodbcsql18
# Optional: Install the command line tools
# !ACCEPT_EULA=Y apt-get install -y mssql-tools18
# !echo 'export PATH="$PATH:/opt/mssql-tools18/bin"' >> ~/.bashrc
# !source ~/.bashrc

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
100   975  100   975    0     0   3566      0 --:--:-- --:--:-- --:--:--  3558
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0    539      0 --:--:-- --:--:-- --:--:--   539
Hit:1 https://cli.github.com/packages stable InRelease
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:4 https://packages.microsoft.com/ubuntu/22.04/prod jammy InRelease [3,632 B]
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:7 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [83.2 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:12 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main all Packages [1,331 B]
Get:13 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main armhf Packages [21.8 kB]
Get:14 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main arm64 Packages [94.9 kB]
Get:15 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 Packages [268 kB]
Hit:16 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,822 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:19 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,411 kB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,855 kB]
Get:21 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,289 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,594 kB]
Get:23 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,161 kB]
Get:24 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,520 kB]
Get:25 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [5,963 kB]
Fetched 35.5 MB in 4s (9,444 kB/s)
Reading package lists... Done
W: https://packages.microsoft.com/ubuntu/22.04/prod/dists/jammy/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  odbcinst unixodbc
The following NEW packages will be installed:
  msodbcsql18 odbcinst unixodbc
0 upgraded, 3 newly installed, 0 to remove and 47 not upgraded.
Need to get 791 kB of archives.
After this operation, 164 kB of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 msodbcsql18 amd64 18.5.1.1-1 [755 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 odbcinst amd64 2.3.9-5ubuntu0.1 [9,930 B]
Get:3 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 unixodbc amd64 2.3.9-5ubuntu0.1 [26.7 kB]
Fetched 791 kB in 0s (1,654 kB/s)
Preconfiguring packages ...
Selecting previously unselected package odbcinst.
(Reading database ... 125080 files and directories currently installed.)
Preparing to unpack .../odbcinst_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking odbcinst (2.3.9-5ubuntu0.1) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../unixodbc_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking unixodbc (2.3.9-5ubuntu0.1) ...
Selecting previously unselected package msodbcsql18.
Preparing to unpack .../msodbcsql18_18.5.1.1-1_amd64.deb ...
Unpacking msodbcsql18 (18.5.1.1-1) ...
Setting up odbcinst (2.3.9-5ubuntu0.1) ...
Setting up unixodbc (2.3.9-5ubuntu0.1) ...
Setting up msodbcsql18 (18.5.1.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc
Processing triggers for man-db (2.10.2-1) ...

In [ ]:
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
100   975  100   975    0     0   6737      0 --:--:-- --:--:-- --:--:--  6770
OK
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    89  100    89    0     0    666      0 --:--:-- --:--:-- --:--:--   669
Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Hit:2 https://cli.github.com/packages stable InRelease
Get:3 https://packages.microsoft.com/ubuntu/22.04/prod jammy InRelease [3,632 B]
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:6 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ Packages [83.2 kB]
Hit:7 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Hit:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:10 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:12 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Hit:13 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:14 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main all Packages [1,331 B]
Get:15 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main arm64 Packages [94.9 kB]
Get:16 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 Packages [268 kB]
Get:17 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main armhf Packages [21.8 kB]
Get:18 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,822 kB]
Get:19 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [9,411 kB]
Get:20 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [5,963 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [6,161 kB]
Get:22 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [3,520 kB]
Get:23 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,289 kB]
Get:24 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [3,852 kB]
Fetched 33.9 MB in 38s (901 kB/s)
Reading package lists... Done
W: https://packages.microsoft.com/ubuntu/22.04/prod/dists/jammy/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  odbcinst unixodbc
The following NEW packages will be installed:
  msodbcsql18 odbcinst unixodbc
0 upgraded, 3 newly installed, 0 to remove and 47 not upgraded.
Need to get 791 kB of archives.
After this operation, 164 kB of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/22.04/prod jammy/main amd64 msodbcsql18 amd64 18.5.1.1-1 [755 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 odbcinst amd64 2.3.9-5ubuntu0.1 [9,930 B]
Get:3 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 unixodbc amd64 2.3.9-5ubuntu0.1 [26.7 kB]
Fetched 791 kB in 0s (2,083 kB/s)
Preconfiguring packages ...
Selecting previously unselected package odbcinst.
(Reading database ... 125080 files and directories currently installed.)
Preparing to unpack .../odbcinst_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking odbcinst (2.3.9-5ubuntu0.1) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../unixodbc_2.3.9-5ubuntu0.1_amd64.deb ...
Unpacking unixodbc (2.3.9-5ubuntu0.1) ...
Selecting previously unselected package msodbcsql18.
Preparing to unpack .../msodbcsql18_18.5.1.1-1_amd64.deb ...
Unpacking msodbcsql18 (18.5.1.1-1) ...
Setting up odbcinst (2.3.9-5ubuntu0.1) ...
Setting up unixodbc (2.3.9-5ubuntu0.1) ...
Setting up msodbcsql18 (18.5.1.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc
Processing triggers for man-db (2.10.2-1) ...

In [17]:
from sqlalchemy import create_engine
from urllib.parse import quote_plus

# ✅ Correct connection details
server   = 'badm-t.database.windows.net'   # SQL Server
database = 'badm'                          # SQL Database
username = 'admin@123@badm-t'              # Full admin login (from portal)
password = 'Badm@123'                      # Your password

driver = '{ODBC Driver 18 for SQL Server}'
odbc_str = (
    f"DRIVER={driver};SERVER={server};DATABASE={database};"
    f"UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=no;"
    "Connection Timeout=30;"
)

# Create SQLAlchemy engine
engine = create_engine(
    f"mssql+pyodbc:///?odbc_connect={quote_plus(odbc_str)}",
    fast_executemany=True
)

# Test connection
with engine.connect() as conn:
    print("✅ Connected successfully to Azure SQL Database:", database)

✅ Connected successfully to Azure SQL Database: badm

In [ ]:
✅ Connected successfully to Azure SQL Database: badm

In [18]:
odbc_str = (
    f"DRIVER={driver};SERVER={server};DATABASE=master;"
    f"UID={username};PWD={password};Encrypt=yes;TrustServerCertificate=no;"
    "Connection Timeout=120;"
)
test_engine = create_engine(f"mssql+pyodbc:///?odbc_connect={quote_plus(odbc_str)}")
with test_engine.connect() as conn:
    print("✅ Connected to master DB")

✅ Connected to master DB

In [ ]:
✅ Connected to master DB

In [ ]:
from sqlalchemy import text

commands = [
    "IF OBJECT_ID('dbo.Review', 'U') IS NOT NULL DROP TABLE dbo.Review;",
    """
    CREATE TABLE dbo.Review (
        review_id   VARCHAR(22) PRIMARY KEY,
        user_id     VARCHAR(22),
        business_id VARCHAR(22),
        stars       INT,
        useful      INT,
        funny       INT,
        cool        INT,
        text        NVARCHAR(MAX), -- Use NVARCHAR(MAX) for potentially long text
        date        DATETIME2      -- Use DATETIME2 for datetime objects
    );
    """
]

with engine.begin() as conn:
    for cmd in commands:
        conn.execute(text(cmd))
print("✅ Azure SQL Review table created successfully!")

In [ ]:
✅ Azure SQL Review table created successfully!

In [ ]:
import pandas as pd

# Use the correct file path from the review_filepath variable
path = review_filepath
chunksize = 100000   # Increased chunk size
# You might also consider increasing the command timeout in the engine creation
# if timeouts persist with larger chunks.

for i, chunk in enumerate(pd.read_json(path, lines=True, chunksize=chunksize)):
    # Select only flat columns
    flat = chunk[[
        "review_id", "user_id", "business_id","stars","useful","funny","cool","text","date"
    ]]
    try:
        flat.to_sql("Review", engine, if_exists="append", index=False)
        print(f"✅ Uploaded chunk {i+1}")
    except Exception as e:
        print(f"❌ Error uploading chunk {i+1}: {e}")
        # Optionally, add logic here to retry the upload for this chunk or log the error

In [ ]:
✅ Uploaded chunk 1
✅ Uploaded chunk 2
✅ Uploaded chunk 3
✅ Uploaded chunk 4
✅ Uploaded chunk 5
✅ Uploaded chunk 6
✅ Uploaded chunk 7
✅ Uploaded chunk 8
✅ Uploaded chunk 9
✅ Uploaded chunk 10
✅ Uploaded chunk 11
✅ Uploaded chunk 12
✅ Uploaded chunk 13
✅ Uploaded chunk 14
✅ Uploaded chunk 15
✅ Uploaded chunk 16
✅ Uploaded chunk 17
✅ Uploaded chunk 18
✅ Uploaded chunk 19
✅ Uploaded chunk 20
✅ Uploaded chunk 21
✅ Uploaded chunk 22
✅ Uploaded chunk 23
✅ Uploaded chunk 24
✅ Uploaded chunk 25
✅ Uploaded chunk 26
✅ Uploaded chunk 27
✅ Uploaded chunk 28
✅ Uploaded chunk 29
✅ Uploaded chunk 30
✅ Uploaded chunk 31
✅ Uploaded chunk 32
✅ Uploaded chunk 33
✅ Uploaded chunk 34
✅ Uploaded chunk 35
✅ Uploaded chunk 36
✅ Uploaded chunk 37
✅ Uploaded chunk 38
✅ Uploaded chunk 39
✅ Uploaded chunk 40
✅ Uploaded chunk 41
✅ Uploaded chunk 42
✅ Uploaded chunk 43
✅ Uploaded chunk 44
✅ Uploaded chunk 45
✅ Uploaded chunk 46
✅ Uploaded chunk 47
✅ Uploaded chunk 48
✅ Uploaded chunk 49
✅ Uploaded chunk 50
✅ Uploaded chunk 51
✅ Uploaded chunk 52
✅ Uploaded chunk 53
✅ Uploaded chunk 54
✅ Uploaded chunk 55
✅ Uploaded chunk 56
✅ Uploaded chunk 57
✅ Uploaded chunk 58
✅ Uploaded chunk 59
✅ Uploaded chunk 60
✅ Uploaded chunk 61
✅ Uploaded chunk 62
✅ Uploaded chunk 63
✅ Uploaded chunk 64
✅ Uploaded chunk 65
✅ Uploaded chunk 66
✅ Uploaded chunk 67
✅ Uploaded chunk 68
✅ Uploaded chunk 69
✅ Uploaded chunk 70

In [ ]:
from sqlalchemy import text

# You can add the foreign key constraints later using ALTER TABLE statements like these:
command = [
  """
  ALTER TABLE dbo.Review
  ADD CONSTRAINT FK_Review_business_id
  FOREIGN KEY (business_id) REFERENCES dbo.Business(business_id);
  """
]

with engine.begin() as conn:
    for cmd in command:
        conn.execute(text(cmd))
print("✅ Azure SQL Review table foreign keys created successfully!")

In [ ]:
✅ Azure SQL Review table foreign keys created successfully!

In [ ]:
from sqlalchemy import text

command = """
ALTER TABLE dbo.[User]
ADD CONSTRAINT PK_User_user_id PRIMARY KEY (user_id);
"""

try:
    with engine.begin() as conn:
        conn.execute(text(command))
    print("✅ Added primary key to dbo.User table successfully!")
except Exception as e:
    print(f"❌ Error adding primary key to dbo.User table: {e}")

In [ ]:
✅ Added primary key to dbo.User table successfully!

This query reveals which cities have high customer engagement but lower quantities of restaurants. This identifies cities that have high demands for restaurants but lower supply, signifying which cities would be best for us to open a new restaurant in (in terms of demand)

In [ ]:
from sqlalchemy import text

commands = [
    "IF OBJECT_ID('dbo.Business', 'U') IS NOT NULL DROP TABLE dbo.Business;",
    """
    CREATE TABLE dbo.Business (
        business_id   VARCHAR(22) PRIMARY KEY,
        name          NVARCHAR(255),
        address       NVARCHAR(255),
        city          NVARCHAR(100),
        state         NVARCHAR(10),
        postal_code   NVARCHAR(20),
        latitude      FLOAT,
        longitude     FLOAT,
        stars         DECIMAL(3,2),
        review_count  INT,
        is_open       BIT
    );
    """,
    """
    CREATE TABLE dbo.BusinessCategory (
        business_id VARCHAR(22),
        category NVARCHAR(100),
        CONSTRAINT FK_BC_Bus FOREIGN KEY (business_id)
        REFERENCES dbo.Business(business_id)
    );
    """,
    """
    CREATE TABLE dbo.BusinessHours (
        business_id VARCHAR(22),
        weekday NVARCHAR(15),
        open_time NVARCHAR(10),
        close_time NVARCHAR(10),
        CONSTRAINT FK_BH_Bus FOREIGN KEY (business_id)
        REFERENCES dbo.Business(business_id)
    );
    """,
    """
    CREATE TABLE dbo.BusinessAttribute (
        business_id VARCHAR(22),
        attr_key NVARCHAR(255),
        attr_value NVARCHAR(4000),
        CONSTRAINT FK_BA_Bus FOREIGN KEY (business_id)
        REFERENCES dbo.Business(business_id)
    );
    """
]

with engine.begin() as conn:
    for cmd in commands:
        conn.execute(text(cmd))
print("✅ All Azure SQL tables created successfully!")

In [ ]:
✅ All Azure SQL tables created successfully!

In [ ]:
import pandas as pd

path = "/content/yelp/yelp_academic_dataset_business.json"
chunksize = 20000   # adjust as needed

for i, chunk in enumerate(pd.read_json(path, lines=True, chunksize=chunksize)):
    # Select only flat columns
    flat = chunk[[
        "business_id","name","address","city","state","postal_code",
        "latitude","longitude","stars","review_count","is_open"
    ]]
    flat.to_sql("Business", engine, if_exists="append", index=False)
    print(f"✅ Uploaded chunk {i+1}")

In [ ]:
✅ Uploaded chunk 1
✅ Uploaded chunk 2
✅ Uploaded chunk 3
✅ Uploaded chunk 4
✅ Uploaded chunk 5
✅ Uploaded chunk 6
✅ Uploaded chunk 7
✅ Uploaded chunk 8

In [ ]:
import pandas as pd
from tqdm import tqdm

path = "/content/yelp/yelp_academic_dataset_business.json"
chunksize = 20000

for chunk in tqdm(pd.read_json(path, lines=True, chunksize=chunksize), desc="Uploading categories"):
    # keep only needed columns
    cat_df = chunk[["business_id", "categories"]].dropna(subset=["categories"])
    # split comma-separated strings into lists
    cat_df["categories"] = cat_df["categories"].str.split(",")
    # expand list elements into rows (vectorized)
    cat_df = cat_df.explode("categories")
    # strip whitespace and drop blanks
    cat_df["categories"] = cat_df["categories"].str.strip()
    cat_df = cat_df[cat_df["categories"].notna() & (cat_df["categories"] != "")]
    # rename for SQL
    cat_df.rename(columns={"categories": "category"}, inplace=True)

    # bulk insert
    cat_df.to_sql("BusinessCategory", engine, if_exists="append", index=False)

print("✅ BusinessCategory table populated successfully!")

In [ ]:
Uploading categories: 4it [10:00, 149.79s/it]

The Yelp Academic Dataset (Business file) contains detailed information about businesses listed on Yelp. Each record represents one business and includes identifying information, location coordinates, ratings, reviews, and metadata such as categories, attributes, and operating hours.

In [ ]:
import pandas as pd

# The engine you created is already in memory
# engine = ...

# Define the file path in Colab
file_path = 'yelp_academic_dataset_user.json'

# These are the simple, one-value-per-user columns
simple_user_cols = [
    'user_id', 'name', 'review_count', 'yelping_since', 'useful', 'funny',
    'cool', 'fans', 'average_stars', 'compliment_hot', 'compliment_more',
    'compliment_profile', 'compliment_cute', 'compliment_list', 'compliment_note',
    'compliment_plain', 'compliment_cool', 'compliment_funny', 'compliment_writer',
    'compliment_photos'
]

# 1. Keep this chunksize large to read the file efficiently
chunk_iter = pd.read_json(file_path, lines=True, chunksize=50000)

print("Starting to process and upload user.json chunks...")

for i, chunk in enumerate(chunk_iter):
    print(f"  Processing chunk {i}...")

    # --- 1. Load the MAIN 'User' table ---
    user_main_chunk = chunk[simple_user_cols]

    user_main_chunk.to_sql(
        'User',
        con=engine,
        if_exists='append',
        index=False,
        method='multi',
        chunksize=100  # <-- 2. ADDED THIS LINE: Breaks the 50,000 rows into small DB chunks
    )

    # --- 2. Load the 'User_Elite' table ---
    elite_chunk = chunk[['user_id', 'elite']].dropna(subset=['elite'])

    if not elite_chunk.empty:
        elite_chunk['elite'] = elite_chunk['elite'].str.split(',')
        elite_chunk_exploded = elite_chunk.explode('elite').rename(columns={'elite': 'year'})

        elite_chunk_exploded.to_sql(
            'User_Elite',
            con=engine,
            if_exists='append',
            index=False,
            method='multi',
            chunksize=100  # <-- 2. ADDED THIS LINE: Breaks this into small DB chunks
        )

    # --- 3. SKIPPING User_Friends table ---
    # (This is still the right call to save time)

print("✅ All user.json chunks processed and loaded!")

In [ ]:
Starting to process and upload user.json chunks...
  Processing chunk 0...
  Processing chunk 1...
  Processing chunk 2...
  Processing chunk 3...
  Processing chunk 4...
  Processing chunk 5...
  Processing chunk 6...
  Processing chunk 7...
  Processing chunk 8...
  Processing chunk 9...
  Processing chunk 10...
  Processing chunk 11...
  Processing chunk 12...
  Processing chunk 13...
  Processing chunk 14...
  Processing chunk 15...
  Processing chunk 16...
  Processing chunk 17...
  Processing chunk 18...
  Processing chunk 19...
  Processing chunk 20...
  Processing chunk 21...
  Processing chunk 22...
  Processing chunk 23...
  Processing chunk 24...
  Processing chunk 25...
  Processing chunk 26...
  Processing chunk 27...
  Processing chunk 28...
  Processing chunk 29...
  Processing chunk 30...
  Processing chunk 31...
  Processing chunk 32...
  Processing chunk 33...
  Processing chunk 34...
  Processing chunk 35...
  Processing chunk 36...
  Processing chunk 37...
  Processing chunk 38...
  Processing chunk 39...
✅ All user.json chunks processed and loaded!

The user.json file is a 3.3GB line-delimited JSON file. Each line represents a single user profile.

Total Rows: ~1.98 million users.

Primary Key: user_id is the unique identifier for each user.

In [ ]:
from sqlalchemy import text

commands = [
    "IF OBJECT_ID('dbo.Tip', 'U') IS NOT NULL DROP TABLE dbo.Tip;",
    """
    CREATE TABLE dbo.Tip (
        tip_id        INT IDENTITY(1,1) PRIMARY KEY,
        user_id       VARCHAR(22) NOT NULL,
        business_id   VARCHAR(22) NOT NULL,
        text          NVARCHAR(MAX),
        date          DATETIME2,
        INDEX IX_Tip_UserBusiness (user_id, business_id, date)
    );
    """
]

with engine.begin() as conn:
    for cmd in commands:
        conn.execute(text(cmd))
print("✅ Tip table created successfully!")

In [ ]:
import pandas as pd

file_path = '/content/yelp_academic_dataset_tip.json'
chunksize = 20000   # adjust as needed

for i, chunk in enumerate(pd.read_json(file_path, lines=True, chunksize=chunksize)):
    # Select all columns from tip dataset
    flat = chunk[["user_id", "business_id", "text", "date"]]

    # Convert date string to datetime
    flat["date"] = pd.to_datetime(flat["date"])

    flat.to_sql("Tip", engine, if_exists="append", index=False)
    print(f"✅ Uploaded chunk {i+1}")

In [ ]:
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 1
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 2
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 3
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 4
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 5
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 6
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 7
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 8
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 9
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 10
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 11
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 12
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 13
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 14
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 15
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 16
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 17
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 18
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 19
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 20
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 21
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 22
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 23
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 24
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 25
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 26
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 27
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 28
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 29
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 30
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 31
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 32
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 33
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 34
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 35
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 36
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 37
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 38
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 39
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 40
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 41
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 42
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 43
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 44
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 45
/tmp/ipython-input-945981860.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  flat["date"] = pd.to_datetime(flat["date"])
✅ Uploaded chunk 46

In [ ]:
import pandas as pd
from tqdm import tqdm

file_path = '/content/yelp_academic_dataset_tip.json'
chunksize = 20000

for chunk in tqdm(pd.read_json(file_path, lines=True, chunksize=chunksize), desc="Uploading tips"):
    # Keep only needed columns
    tip_df = chunk[["user_id", "business_id", "text", "date"]].copy()

    # Convert date string to datetime
    tip_df["date"] = pd.to_datetime(tip_df["date"])

    # Drop any rows with missing required fields
    tip_df = tip_df.dropna(subset=["user_id", "business_id", "date"])

    # Bulk insert
    tip_df.to_sql("Tip", engine, if_exists="append", index=False)

print("✅ Tip table populated successfully!")

In [ ]:
Uploading tips: 46it [01:40,  2.18s/it]✅ Tip table populated successfully!

In [ ]:
os.chdir("/kaggle/input/yelp-dataset/")

print(os.getcwd())

import json

import pandas as pd

data_file = open("yelp_academic_dataset_checkin.json")

data = []

for line in data_file:

    data.append(json.loads(line))

checkin_df = pd.DataFrame(data)

data_file.close()

In [ ]:
# Split the 'date' column into individual rows
checkin_df['date'] = checkin_df['date'].str.split(', ')
checkin_df = checkin_df.explode('date').reset_index(drop=True)

# Add a 'checkin_ID' column as the primary key
checkin_df['checkin_ID'] = checkin_df.index + 1

# Reorder columns to put 'checkin_ID' first
checkin_df = checkin_df[['checkin_ID', 'business_id', 'date']]


# Display the updated dataframe
display(checkin_df.head())

In [ ]:

checkin_ID	business_id	date
0	1	---kPU91CF4Lq2-WlRu9Lw	2020-03-13 21:10:56
1	2	---kPU91CF4Lq2-WlRu9Lw	2020-06-02 22:18:06
2	3	---kPU91CF4Lq2-WlRu9Lw	2020-07-24 22:42:27
3	4	---kPU91CF4Lq2-WlRu9Lw	2020-10-24 21:36:13
4	5	---kPU91CF4Lq2-WlRu9Lw	2020-12-09 21:23:33

In [ ]:
from sqlalchemy import text

commands = [
    "IF OBJECT_ID('dbo.Checkin', 'U') IS NOT NULL DROP TABLE dbo.Checkin;",
    """
    CREATE TABLE dbo.Checkin (
        checkin_ID INT PRIMARY KEY,
        business_id VARCHAR(22),
        date DATETIME2,
        CONSTRAINT FK_Checkin_Bus FOREIGN KEY (business_id)
        REFERENCES dbo.Business(business_id)
    );
    """
]

with engine.begin() as conn:
    for cmd in commands:
        conn.execute(text(cmd))
print("✅ All Azure SQL tables created successfully!")

In [ ]:
✅ All Azure SQL tables created successfully!

In [27]:
from typing import runtime_checkable
from typing import runtime_checkable
# Helper function to run and preview results safely
def run_query(title, sql, preview=5):
    print(f"\n🔹 {title}")
    with engine.connect() as conn:
        result = conn.execute(text(sql)).fetchmany(preview)
        for row in result:
            print(row)
    print(f"✅ {title} complete\n{'-'*80}")

run_query("TEST",
          """
          SELECT category, COUNT(*) AS category_count
          FROM BusinessCategory
          GROUP BY category
          ORDER BY category_count DESC;
          """)

🔹 TEST
('Restaurants', 59221)
('Food', 31534)
('Shopping', 27609)
('Home Services', 16263)
('Beauty & Spas', 16168)
✅ TEST complete
--------------------------------------------------------------------------------

In [ ]:
from sqlalchemy import text

# Helper function to run and preview results safely
def run_query(title, sql, preview=5):
    print(f"\n🔹 {title}")
    with engine.connect() as conn:
        result = conn.execute(text(sql)).fetchmany(preview)
        for row in result:
            print(row)
    print(f"✅ {title} complete\n{'-'*80}")

# 1️⃣  City-level demand vs. supply (limit for speed)
run_query(
    "Query 1 – High-Demand Cities (Review-to-Restaurant Ratio)",
    """
    SELECT TOP 20
        b.city,
        COUNT(DISTINCT b.business_id) AS restaurants_per_city,
        COUNT(r.review_id) AS total_city_reviews,
        CAST(COUNT(r.review_id) AS FLOAT)/COUNT(DISTINCT b.business_id) AS reviews_per_restaurant
    FROM dbo.Business b
    JOIN dbo.Review r ON b.business_id = r.business_id
    WHERE b.city IS NOT NULL
    GROUP BY b.city
    HAVING COUNT(DISTINCT b.business_id) > 5
    ORDER BY reviews_per_restaurant DESC;
    """
)

# 2️⃣  Category gap
run_query(
    "Query 2 – Category Opportunity Gap (Least Represented)",
    """
    SELECT TOP 10
        category,
        COUNT(*) AS category_count
    FROM dbo.BusinessCategory
    GROUP BY category
    ORDER BY category_count DESC;
    """
)

# 3️⃣  Neighborhood gaps missing those restaurants
run_query(
    "Query 3 – Local Gaps for Italian Restaurants (by Postal Code in CLEARWATER BEACH)",
    """
    SELECT TOP 10
        b.postal_code,
        COUNT(DISTINCT b.business_id) AS restaurant_count
    FROM dbo.Business b
    JOIN dbo.BusinessCategory bc ON b.business_id = bc.business_id
    WHERE bc.category LIKE '%Restaurants%'
    GROUP BY b.postal_code
    ORDER BY restaurant_count ASC;
    """
)

# 4️⃣  Top cuisines in Arizona
run_query(
    "Query 4 – Top Cuisine Categories in Arizona",
    """
    SELECT TOP 10 bc.category, COUNT(DISTINCT b.business_id) AS count_restaurants
    FROM dbo.Business b
    JOIN dbo.BusinessCategory bc ON b.business_id = bc.business_id
    WHERE b.state = 'AZ' AND bc.category LIKE '%Restaurant%'
    GROUP BY bc.category
    ORDER BY count_restaurants DESC;
    """
)

# 5️⃣  Cuisine vs rating comparison
run_query(
    "Query 5 – Cuisine vs Average Ratings",
    """
    SELECT bc.category, ROUND(AVG(b.stars),2) AS avg_rating, COUNT(*) AS count_restaurants
    FROM dbo.Business b
    JOIN dbo.BusinessCategory bc ON b.business_id = bc.business_id
    WHERE bc.category IN ('Italian','Mexican','Chinese','Indian','American (Traditional)')
    GROUP BY bc.category
    ORDER BY avg_rating DESC;
    """
)

# 6️⃣  Price range distribution
run_query(
    "Query 6 – Price Range Distribution",
    """
    SELECT TOP 10 attr_value AS price_level, COUNT(*) AS count_businesses
    FROM dbo.BusinessAttribute
    WHERE attr_key = 'RestaurantsPriceRange2'
    GROUP BY attr_value
    ORDER BY price_level;
    """
)

# 7️⃣  Review sentiment: Italian restaurant success factors
run_query(
    "Query 7 – Review Sentiment (Top Italian Restaurants)",
    """
    SELECT TOP 10 r.business_id, b.name, b.city, r.stars AS review_stars, LEFT(r.text,150) AS sample_text
    FROM dbo.Review r
    JOIN dbo.Business b ON r.business_id = b.business_id
    JOIN dbo.BusinessCategory bc ON b.business_id = bc.business_id
    WHERE bc.category = 'Italian' AND b.stars >= 4.0 AND r.stars >= 4
    ORDER BY r.stars DESC, b.stars DESC;
    """
)

# 8️⃣  Operational insights – Takeout availability
run_query(
    "Query 8 – Takeout / Delivery Availability (Italian Restaurants)",
    """
    SELECT ba.attr_value, COUNT(*) AS restaurant_count
    FROM dbo.BusinessAttribute ba
    JOIN dbo.BusinessCategory bc ON ba.business_id = bc.business_id
    WHERE bc.category = 'Italian' AND ba.attr_key = 'RestaurantsTakeOut'
    GROUP BY ba.attr_value;
    """
)

# 9️⃣  Seasonal restaurant activity (Checkins)
run_query(
    "Query 9 – Seasonal Activity (Monthly Check-ins in Arizona)",
    """
    SELECT TOP 12 DATENAME(MONTH, c.date) AS month, COUNT(c.checkin_id) AS total_checkins
    FROM dbo.Checkin c
    JOIN dbo.Business b ON c.business_id = b.business_id
    WHERE b.state = 'AZ'
    GROUP BY DATENAME(MONTH, c.date)
    ORDER BY total_checkins DESC;
    """
)

# 🔟  City with highest average rating
run_query(
    "Query 10 – Cities with Highest Average Ratings",
    """
    SELECT TOP 10 b.state, b.city, ROUND(AVG(b.stars),2) AS avg_stars
    FROM dbo.Business b
    GROUP BY b.state, b.city
    HAVING COUNT(*) > 20
    ORDER BY avg_stars DESC;
    """
)

🔹 Query 1 – High-Demand Cities (Review-to-Restaurant Ratio)

In [ ]:
🔹 Query 1 – High-Demand Cities (Review-to-Restaurant Ratio)
('St Pete beach', 75, 10084, 134.45333333333335)
('CLEARWATER BEACH', 164, 21476, 130.9512195121951)
('Indian Rocks Beach', 84, 10289, 122.48809523809524)
('Manayunk', 11, 1335, 121.36363636363636)
('St. Pete Beach', 168, 17849, 106.24404761904762)
 Query 1 – High-Demand Cities (Review-to-Restaurant Ratio) complete
--------------------------------------------------------------------------------

🔹 Query 2 – Category Opportunity Gap in Tucson
Query 2 – Category Opportunity Gap in Tucson complete
--------------------------------------------------------------------------------

🔹 Query 3 – Local Gaps for Italian Restaurants (by Postal Code in Tucson)
('85641', 1)
('85707', 1)
('85737', 1)
('85739', 1)
('85743', 1)
Query 3 – Local Gaps for Italian Restaurants (by Postal Code in Tucson) complete
--------------------------------------------------------------------------------

🔹 Query 4 – Top Cuisine Categories in Arizona
('Restaurants', 2671)
('Restaurant Supplies', 4)
Query 4 – Top Cuisine Categories in Arizona complete
--------------------------------------------------------------------------------

🔹 Query 5 – Cuisine vs Average Ratings
('Indian', Decimal('3.840000'), 959)
('Mexican', Decimal('3.520000'), 5239)
('Italian', Decimal('3.510000'), 5207)
('American (Traditional)', Decimal('3.400000'), 9173)
('Chinese', Decimal('3.390000'), 3580)
Query 5 – Cuisine vs Average Ratings complete
--------------------------------------------------------------------------------

🔹 Query 6 – Price Range Distribution
('1', 3506)
('2', 5952)
('3', 802)
('4', 149)
('None', 8)
 Query 6 – Price Range Distribution complete
--------------------------------------------------------------------------------
🔹 Query 8 – Takeout / Delivery Availability (Italian Restaurants)
('RestaurantsDelivery', 'False', 182)
('RestaurantsTakeOut', 'False', 40)
('RestaurantsDelivery', 'None', 38)
('RestaurantsTakeOut', 'None', 26)
('RestaurantsDelivery', 'True', 280)
Query 8 – Takeout / Delivery Availability (Italian Restaurants) complete
--------------------------------------------------------------------------------

🔹 Query 9 – Seasonal Activity (Monthly Check-ins in Arizona)
('March', 73279)
('May', 70035)
('August', 69887)
('April', 69102)
('October', 68702)
Query 9 – Seasonal Activity (Monthly Check-ins in Arizona) complete
--------------------------------------------------------------------------------

🔹 Query 10 – Cities with Highest Average Ratings
('NV', 'Virginia City', Decimal('4.330000'))
('CA', 'Montecito', Decimal('4.160000'))
('PA', 'Washington Crossing', Decimal('4.140000'))
('PA', 'Wyndmoor', Decimal('4.130000'))
('FL', 'Safety Harbor', Decimal('4.130000'))
Query 10 – Cities with Highest Average Ratings complete
--------------------------------------------------------------------------------

Insight

1	City demand vs. supply	Reveals where restaurant demand exceeds supply (potential launch cities).

2	Category gaps	Finds cuisines underrepresented but highly rated in that city.

3	Neighborhood gaps	Pinpoints neighborhoods lacking that cuisine.

4	Top cuisines	Shows state-level popularity for contextual benchmarking.

5	Cuisine vs rating	Compares perception of major cuisines to choose quality benchmarks.

6	Price range	Guides pricing strategy (e.g., mid-tier most common).

7	Review sentiment	Identifies success factors from positive reviews (authenticity, service).

8	Operational features	Highlights gaps in delivery/takeout availability.

9	Seasonal demand	Reveals peak seasons for marketing/staffing.

10	Top-rated cities	Validates geographic opportunities for expansion.